* {
    margin: 0;
    padding: 0;
}

.fundo {
    background-image: linear-gradient(to left bottom, #ff6400, #fc8500, #f6a300, #edbf00, #e1d919);
    height: 657px;
    padding: 1px 10px 10px 10px;
}

div#home-form {
    width: 450px;
    margin: 30px auto 0px auto;
    padding: 2px 2px 2px 2px;
}

div#home-form h1 {
    font-family: 40pt;
    text-align: center;
    color: white;
}

div#home-form h2 {
    text-align: center;
    color: white;
}

input[type="text"] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
}

input[type="text"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputWithIcon input[type="text"] {
    padding-right: 40px;
}

.inputWithIcon {
    position: relative;
}

.inputWithIcon i {
    background-image: url(../_icones/lupa.png);
    position: absolute;
    right: 10px;
    top: 17px;
    padding: 17px 16px;
    color: #aaa;
    transition: 0.3s;
}

.inputWithIcon input[type="text"]:focus+i {
    color: dodgerBlue;
}

.inputWithIcon.inputIconBg i {
    background-color: #aaa;
    color: #fff;
    padding: 9px 4px;
    border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg input[type="text"]:focus+i {
    color: #fff;
    background-color: dodgerBlue;
}

hr {
    border-color: white;
    border-bottom: 1px solid #000000;
    box-sizing: border-box;
}